<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collagemanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration1</display-name>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration11</display-name>
    <servlet-name>Registration11</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration11</servlet-name>
    <url-pattern>/Registration11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Divyesh</display-name>
    <servlet-name>Divyesh</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Divyesh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Divyesh</servlet-name>
    <url-pattern>/Divyesh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget</display-name>
    <servlet-name>Forget</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Forget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget</servlet-name>
    <url-pattern>/Forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOTP</display-name>
    <servlet-name>GetOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.GetOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOTP</servlet-name>
    <url-pattern>/GetOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationfaculty</display-name>
    <servlet-name>Registrationfaculty</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationfaculty</servlet-name>
    <url-pattern>/Registrationfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentDetails</display-name>
    <servlet-name>EditStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentDetails</servlet-name>
    <url-pattern>/EditStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDetails</display-name>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <url-pattern>/UpdateStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFaculrtDetails</display-name>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFaculrtDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <url-pattern>/EditFaculrtDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacultyDetails</display-name>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <url-pattern>/UpdateFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacultyDetails</display-name>
    <servlet-name>EditFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyDetails</servlet-name>
    <url-pattern>/EditFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchHobby</display-name>
    <servlet-name>FetchHobby</servlet-name>
    <servlet-class>com.collagemanagement.servlet.FetchHobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchHobby</servlet-name>
    <url-pattern>/FetchHobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP</display-name>
    <servlet-name>ResendOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP</servlet-name>
    <url-pattern>/ResendOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP1</display-name>
    <servlet-name>ResendOTP1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP1</servlet-name>
    <url-pattern>/ResendOTP1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateAccount</display-name>
    <servlet-name>ActivateAccount</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailVerification</display-name>
    <servlet-name>EmailVerification</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EmailVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerification</servlet-name>
    <url-pattern>/EmailVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationstudent</display-name>
    <servlet-name>Registrationstudent</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationstudent</servlet-name>
    <url-pattern>/Registrationstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentData</display-name>
    <servlet-name>StudentData</servlet-name>
    <servlet-class>com.collagemanagement.servlet.StudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentData</servlet-name>
    <url-pattern>/StudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudentdetails</display-name>
    <servlet-name>RemoveStudentdetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.RemoveStudentdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudentdetails</servlet-name>
    <url-pattern>/RemoveStudentdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyData</display-name>
    <servlet-name>FacultyData</servlet-name>
    <servlet-class>com.collagemanagement.servlet.FacultyData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyData</servlet-name>
    <url-pattern>/FacultyData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFacultydetails</display-name>
    <servlet-name>RemoveFacultydetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.RemoveFacultydetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFacultydetails</servlet-name>
    <url-pattern>/RemoveFacultydetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>com.collagemanagement.servlet.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectQueryDetails</display-name>
    <servlet-name>SelectQueryDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.SelectQueryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectQueryDetails</servlet-name>
    <url-pattern>/SelectQueryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnswerDetails</display-name>
    <servlet-name>GetAnswerDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.GetAnswerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswerDetails</servlet-name>
    <url-pattern>/GetAnswerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAnswerDescription</display-name>
    <servlet-name>InsertAnswerDescription</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.InsertAnswerDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAnswerDescription</servlet-name>
    <url-pattern>/InsertAnswerDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuery</display-name>
    <servlet-name>AddQuery</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.AddQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuery</servlet-name>
    <url-pattern>/AddQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion1</display-name>
    <servlet-name>AddQuestion1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion1</servlet-name>
    <url-pattern>/AddQuestion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion11</display-name>
    <servlet-name>AddQuestion11</servlet-name>
    <servlet-class>com.collagemanagement.servlet.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion11</servlet-name>
    <url-pattern>/AddQuestion11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchsemdetails</display-name>
    <servlet-name>Fetchsemdetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Fetchsemdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchsemdetails</servlet-name>
    <url-pattern>/Fetchsemdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAnswerDetails</display-name>
    <servlet-name>SaveAnswerDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.SaveAnswerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAnswerDetails</servlet-name>
    <url-pattern>/SaveAnswerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertans</display-name>
    <servlet-name>Insertans</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.Insertans</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Addteacher</display-name>
    <servlet-name>Addteacher</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.Addteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addteacher</servlet-name>
    <url-pattern>/Addteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchsubjects</display-name>
    <servlet-name>fetchsubjects</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchsubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchsubjects</servlet-name>
    <url-pattern>/fetchsubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchsemesterforfaculty</display-name>
    <servlet-name>fetchsemesterforfaculty</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchsemesterforfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchsemesterforfaculty</servlet-name>
    <url-pattern>/fetchsemesterforfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchsubjectforfaculty</display-name>
    <servlet-name>fetchsubjectforfaculty</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchsubjectforfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchsubjectforfaculty</servlet-name>
    <url-pattern>/fetchsubjectforfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchsemester</display-name>
    <servlet-name>fetchsemester</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchsemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchsemester</servlet-name>
    <url-pattern>/fetchsemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadAssignment</display-name>
    <servlet-name>uploadAssignment</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.uploadAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadAssignment</servlet-name>
    <url-pattern>/uploadAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacultyDetail</display-name>
    <servlet-name>EditFacultyDetail</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.EditFacultyDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyDetail</servlet-name>
    <url-pattern>/EditFacultyDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExcelfile</display-name>
    <servlet-name>GetExcelfile</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.GetExcelfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExcelfile</servlet-name>
    <url-pattern>/GetExcelfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchsubjectdetais</display-name>
    <servlet-name>Fetchsubjectdetais</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.Fetchsubjectdetais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchsubjectdetais</servlet-name>
    <url-pattern>/Fetchsubjectdetais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getpaperdetails</display-name>
    <servlet-name>Getpaperdetails</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.Getpaperdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getpaperdetails</servlet-name>
    <url-pattern>/Getpaperdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSemesterDetails</display-name>
    <servlet-name>GetSemesterDetails</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.GetSemesterDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSemesterDetails</servlet-name>
    <url-pattern>/GetSemesterDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchsemesterid</display-name>
    <servlet-name>Fetchsemesterid</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.Fetchsemesterid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchsemesterid</servlet-name>
    <url-pattern>/Fetchsemesterid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getpaperinformation</display-name>
    <servlet-name>getpaperinformation</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.getpaperinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getpaperinformation</servlet-name>
    <url-pattern>/getpaperinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResultinformation</display-name>
    <servlet-name>GetResultinformation</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.GetResultinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResultinformation</servlet-name>
    <url-pattern>/GetResultinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPaperId</display-name>
    <servlet-name>getPaperId</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.getPaperId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPaperId</servlet-name>
    <url-pattern>/getPaperId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchPaperType</display-name>
    <servlet-name>fetchPaperType</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.fetchPaperType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchPaperType</servlet-name>
    <url-pattern>/fetchPaperType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPaperTypeDetails</display-name>
    <servlet-name>getPaperTypeDetails</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.getPaperTypeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPaperTypeDetails</servlet-name>
    <url-pattern>/getPaperTypeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPaper</display-name>
    <servlet-name>DownloadPaper</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.DownloadPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPaper</servlet-name>
    <url-pattern>/DownloadPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserProfile</display-name>
    <servlet-name>DisplayUserProfile</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.DisplayUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserProfile</servlet-name>
    <url-pattern>/DisplayUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchquestion</display-name>
    <servlet-name>searchquestion</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.searchquestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchquestion</servlet-name>
    <url-pattern>/searchquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAnswerDescription</display-name>
    <servlet-name>EditAnswerDescription</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.EditAnswerDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAnswerDescription</servlet-name>
    <url-pattern>/EditAnswerDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSubjectsForStudent</display-name>
    <servlet-name>FetchSubjectsForStudent</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.FetchSubjectsForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSubjectsForStudent</servlet-name>
    <url-pattern>/FetchSubjectsForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAssStudent</display-name>
    <servlet-name>UploadAssStudent</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.UploadAssStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAssStudent</servlet-name>
    <url-pattern>/UploadAssStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadAss</display-name>
    <servlet-name>DownloadAss</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.DownloadAss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAss</servlet-name>
    <url-pattern>/DownloadAss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchselectedsemester</display-name>
    <servlet-name>fetchselectedsemester</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchselectedsemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchselectedsemester</servlet-name>
    <url-pattern>/fetchselectedsemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaytmConstants</display-name>
    <servlet-name>PaytmConstants</servlet-name>
    <servlet-class>utils.PaytmConstants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaytmConstants</servlet-name>
    <url-pattern>/PaytmConstants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAnswerDescription</display-name>
    <servlet-name>UpdateAnswerDescription</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.UpdateAnswerDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAnswerDescription</servlet-name>
    <url-pattern>/UpdateAnswerDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAnswerDescription</display-name>
    <servlet-name>RemoveAnswerDescription</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.RemoveAnswerDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAnswerDescription</servlet-name>
    <url-pattern>/RemoveAnswerDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchTag</display-name>
    <servlet-name>FetchTag</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.FetchTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTag</servlet-name>
    <url-pattern>/FetchTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostQuery</display-name>
    <servlet-name>PostQuery</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.PostQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostQuery</servlet-name>
    <url-pattern>/PostQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPaymentDetails</display-name>
    <servlet-name>InsertPaymentDetails</servlet-name>
    <servlet-class>utils.InsertPaymentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPaymentDetails</servlet-name>
    <url-pattern>/InsertPaymentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeesDetails</display-name>
    <servlet-name>InsertFeesDetails</servlet-name>
    <servlet-class>utils.InsertFeesDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeesDetails</servlet-name>
    <url-pattern>/InsertFeesDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectsuccesspaymentDetails</display-name>
    <servlet-name>selectsuccesspaymentDetails</servlet-name>
    <servlet-class>utils.selectsuccesspaymentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectsuccesspaymentDetails</servlet-name>
    <url-pattern>/selectsuccesspaymentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectPaymentInvoiceDetails</display-name>
    <servlet-name>SelectPaymentInvoiceDetails</servlet-name>
    <servlet-class>utils.SelectPaymentInvoiceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPaymentInvoiceDetails</servlet-name>
    <url-pattern>/SelectPaymentInvoiceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesPayStudentDataDisplay</display-name>
    <servlet-name>FeesPayStudentDataDisplay</servlet-name>
    <servlet-class>utils.FeesPayStudentDataDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesPayStudentDataDisplay</servlet-name>
    <url-pattern>/FeesPayStudentDataDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchselectedsubjects</display-name>
    <servlet-name>fetchselectedsubjects</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchselectedsubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchselectedsubjects</servlet-name>
    <url-pattern>/fetchselectedsubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFacultyDetails</display-name>
    <servlet-name>SelectFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.SelectFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFacultyDetails</servlet-name>
    <url-pattern>/SelectFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFacultyDetails</display-name>
    <servlet-name>RemoveFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.RemoveFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFacultyDetails</servlet-name>
    <url-pattern>/RemoveFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAssByStudent</display-name>
    <servlet-name>UploadAssByStudent</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.UploadAssByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAssByStudent</servlet-name>
    <url-pattern>/UploadAssByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSubmittedAss</display-name>
    <servlet-name>RemoveSubmittedAss</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.RemoveSubmittedAss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSubmittedAss</servlet-name>
    <url-pattern>/RemoveSubmittedAss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSubmittedAssInfo</display-name>
    <servlet-name>FetchSubmittedAssInfo</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.FetchSubmittedAssInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSubmittedAssInfo</servlet-name>
    <url-pattern>/FetchSubmittedAssInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadStudentAss</display-name>
    <servlet-name>DownloadStudentAss</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.DownloadStudentAss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadStudentAss</servlet-name>
    <url-pattern>/DownloadStudentAss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotes</display-name>
    <servlet-name>UploadNotes</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.UploadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotes</servlet-name>
    <url-pattern>/UploadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchStudentNotes</display-name>
    <servlet-name>FetchStudentNotes</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.FetchStudentNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchStudentNotes</servlet-name>
    <url-pattern>/FetchStudentNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadNotes</display-name>
    <servlet-name>DownloadNotes</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.DownloadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadNotes</servlet-name>
    <url-pattern>/DownloadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNoticeDetail</display-name>
    <servlet-name>InsertNoticeDetail</servlet-name>
    <servlet-class>utils.InsertNoticeDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNoticeDetail</servlet-name>
    <url-pattern>/InsertNoticeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNotice</display-name>
    <servlet-name>DisplayNotice</servlet-name>
    <servlet-class>utils.DisplayNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNotice</servlet-name>
    <url-pattern>/DisplayNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveNotice</display-name>
    <servlet-name>RemoveNotice</servlet-name>
    <servlet-class>utils.RemoveNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveNotice</servlet-name>
    <url-pattern>/RemoveNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCourse</display-name>
    <servlet-name>FetchCourse</servlet-name>
    <servlet-class>utils.FetchCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCourse</servlet-name>
    <url-pattern>/FetchCourse</url-pattern>
  </servlet-mapping>
</web-app>