<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collagemanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration1</display-name>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration11</display-name>
    <servlet-name>Registration11</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration11</servlet-name>
    <url-pattern>/Registration11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Divyesh</display-name>
    <servlet-name>Divyesh</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Divyesh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Divyesh</servlet-name>
    <url-pattern>/Divyesh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget</display-name>
    <servlet-name>Forget</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Forget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget</servlet-name>
    <url-pattern>/Forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOTP</display-name>
    <servlet-name>GetOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.GetOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOTP</servlet-name>
    <url-pattern>/GetOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationfaculty</display-name>
    <servlet-name>Registrationfaculty</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationfaculty</servlet-name>
    <url-pattern>/Registrationfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentDetails</display-name>
    <servlet-name>EditStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentDetails</servlet-name>
    <url-pattern>/EditStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDetails</display-name>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <url-pattern>/UpdateStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFaculrtDetails</display-name>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFaculrtDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <url-pattern>/EditFaculrtDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacultyDetails</display-name>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <url-pattern>/UpdateFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacultyDetails</display-name>
    <servlet-name>EditFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyDetails</servlet-name>
    <url-pattern>/EditFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchHobby</display-name>
    <servlet-name>FetchHobby</servlet-name>
    <servlet-class>com.collagemanagement.servlet.FetchHobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchHobby</servlet-name>
    <url-pattern>/FetchHobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP</display-name>
    <servlet-name>ResendOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP</servlet-name>
    <url-pattern>/ResendOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP1</display-name>
    <servlet-name>ResendOTP1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP1</servlet-name>
    <url-pattern>/ResendOTP1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateAccount</display-name>
    <servlet-name>ActivateAccount</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailVerification</display-name>
    <servlet-name>EmailVerification</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EmailVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerification</servlet-name>
    <url-pattern>/EmailVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationstudent</display-name>
    <servlet-name>Registrationstudent</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationstudent</servlet-name>
    <url-pattern>/Registrationstudent</url-pattern>
  </servlet-mapping>
</web-app>