<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collagemanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration1</display-name>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration11</display-name>
    <servlet-name>Registration11</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration11</servlet-name>
    <url-pattern>/Registration11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Divyesh</display-name>
    <servlet-name>Divyesh</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Divyesh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Divyesh</servlet-name>
    <url-pattern>/Divyesh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget</display-name>
    <servlet-name>Forget</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Forget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget</servlet-name>
    <url-pattern>/Forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOTP</display-name>
    <servlet-name>GetOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.GetOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOTP</servlet-name>
    <url-pattern>/GetOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationfaculty</display-name>
    <servlet-name>Registrationfaculty</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationfaculty</servlet-name>
    <url-pattern>/Registrationfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentDetails</display-name>
    <servlet-name>EditStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentDetails</servlet-name>
    <url-pattern>/EditStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDetails</display-name>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <url-pattern>/UpdateStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFaculrtDetails</display-name>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFaculrtDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFaculrtDetails</servlet-name>
    <url-pattern>/EditFaculrtDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacultyDetails</display-name>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.UpdateFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacultyDetails</servlet-name>
    <url-pattern>/UpdateFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacultyDetails</display-name>
    <servlet-name>EditFacultyDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EditFacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyDetails</servlet-name>
    <url-pattern>/EditFacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchHobby</display-name>
    <servlet-name>FetchHobby</servlet-name>
    <servlet-class>com.collagemanagement.servlet.FetchHobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchHobby</servlet-name>
    <url-pattern>/FetchHobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP</display-name>
    <servlet-name>ResendOTP</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP</servlet-name>
    <url-pattern>/ResendOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOTP1</display-name>
    <servlet-name>ResendOTP1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ResendOTP1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOTP1</servlet-name>
    <url-pattern>/ResendOTP1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateAccount</display-name>
    <servlet-name>ActivateAccount</servlet-name>
    <servlet-class>com.collagemanagement.servlet.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailVerification</display-name>
    <servlet-name>EmailVerification</servlet-name>
    <servlet-class>com.collagemanagement.servlet.EmailVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerification</servlet-name>
    <url-pattern>/EmailVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationstudent</display-name>
    <servlet-name>Registrationstudent</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Registrationstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationstudent</servlet-name>
    <url-pattern>/Registrationstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentData</display-name>
    <servlet-name>StudentData</servlet-name>
    <servlet-class>com.collagemanagement.servlet.StudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentData</servlet-name>
    <url-pattern>/StudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudentdetails</display-name>
    <servlet-name>RemoveStudentdetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.RemoveStudentdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudentdetails</servlet-name>
    <url-pattern>/RemoveStudentdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyData</display-name>
    <servlet-name>FacultyData</servlet-name>
    <servlet-class>com.collagemanagement.servlet.FacultyData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyData</servlet-name>
    <url-pattern>/FacultyData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFacultydetails</display-name>
    <servlet-name>RemoveFacultydetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.RemoveFacultydetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFacultydetails</servlet-name>
    <url-pattern>/RemoveFacultydetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>com.collagemanagement.servlet.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectQueryDetails</display-name>
    <servlet-name>SelectQueryDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.SelectQueryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectQueryDetails</servlet-name>
    <url-pattern>/SelectQueryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnswerDetails</display-name>
    <servlet-name>GetAnswerDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.GetAnswerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswerDetails</servlet-name>
    <url-pattern>/GetAnswerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAnswerDescription</display-name>
    <servlet-name>InsertAnswerDescription</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.InsertAnswerDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAnswerDescription</servlet-name>
    <url-pattern>/InsertAnswerDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuery</display-name>
    <servlet-name>AddQuery</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.AddQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuery</servlet-name>
    <url-pattern>/AddQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion1</display-name>
    <servlet-name>AddQuestion1</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion1</servlet-name>
    <url-pattern>/AddQuestion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion11</display-name>
    <servlet-name>AddQuestion11</servlet-name>
    <servlet-class>com.collagemanagement.servlet.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion11</servlet-name>
    <url-pattern>/AddQuestion11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchsemdetails</display-name>
    <servlet-name>Fetchsemdetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.Fetchsemdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchsemdetails</servlet-name>
    <url-pattern>/Fetchsemdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAnswerDetails</display-name>
    <servlet-name>SaveAnswerDetails</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.SaveAnswerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAnswerDetails</servlet-name>
    <url-pattern>/SaveAnswerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertans</display-name>
    <servlet-name>Insertans</servlet-name>
    <servlet-class>com.collagemanagement.servlet.QuoraSession.Insertans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertans</servlet-name>
    <url-pattern>/Insertans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAtchsubjectdetails</display-name>
    <servlet-name>FAtchsubjectdetails</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.FAtchsubjectdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAtchsubjectdetails</servlet-name>
    <url-pattern>/FAtchsubjectdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchsemesterid</display-name>
    <servlet-name>Fetchsemesterid</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.Fetchsemesterid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchsemesterid</servlet-name>
    <url-pattern>/Fetchsemesterid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResultinformation</display-name>
    <servlet-name>GetResultinformation</servlet-name>
    <servlet-class>com.collagemanagement.Result.Servlet.GetResultinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResultinformation</servlet-name>
    <url-pattern>/GetResultinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addteacher</display-name>
    <servlet-name>Addteacher</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.Addteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addteacher</servlet-name>
    <url-pattern>/Addteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchsemester</display-name>
    <servlet-name>fetchsemester</servlet-name>
    <servlet-class>com.collagemanagement.addteacher.servlet.fetchsemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchsemester</servlet-name>
    <url-pattern>/fetchsemester</url-pattern>
  </servlet-mapping>
</web-app>